* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'helvetica neue';
}

html, body {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: 'ip';
    src: url(./sf-pro-text_regular.woff2);
}

.main{
    height: 100%;
    width: 100%;
    background-color: black;
}

.nav{
    height: 60px;
    width: 100%;
    background-color: rgb(32, 32, 32);;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: white;
    font-size: 15px;
}

.nav h4{
    font-weight: 300;
    font-family: ip;
    color: #C5C5C6;
}

.center{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    background-image: url(https://www.apple.com/v/iphone-17-pro/b/images/overview/welcome/hero_endframe__xdzisdq1ppem_medium.jpg);
    background-position: center 20%;
    background-size: cover; 
    background-repeat: no-repeat;
    position: relative;
}

.center button{
    padding: 10px 25px;
    border-radius:9999px;
    background-color: #0076DF;
    color: white;
    font-family: ip;
    border: none;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    bottom: 70px;
    left: 46%;
    cursor: pointer;
}




